.slide_container {
  --bg: linear-gradient(to bottom right, #4776e6, pink);
  position: relative;
  height: 100vh;
  background-image: var(--bg);
}
.slide_container .slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide_container .slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  animation: slide-right 0.6s ease-in-out forwards;
}
.slide_container .slideshow .slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.slide_container .slideshow .slide:nth-child(1) {
  animation-delay: 0.15s;
}
.slide_container .slideshow .slide:nth-child(1)::after {
  background: url("../img/banner/1.jpg") center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(2) {
  animation-delay: 0.3s;
}
.slide_container .slideshow .slide:nth-child(2)::after {
  background: url("../img/banner/2.jpg") center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(3) {
  animation-delay: 0.45s;
}
.slide_container .slideshow .slide:nth-child(3)::after {
  background: url("../img/banner/3.jpg") center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(4) {
  animation-delay: 0.6s;
}
.slide_container .slideshow .slide:nth-child(4)::after {
  background: url("../img/banner/4.jpg") center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(5) {
  animation-delay: 0.75s;
}
.slide_container .slideshow .slide:nth-child(5)::after {
  background: url("../img/banner/5.jpg") center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(6) {
  animation-delay: 0.9s;
}
.slide_container .slideshow .slide:nth-child(6)::after {
  background: url("../img/banner/6.jpg") center/cover no-repeat;
}
.slide_container .slideshow .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg);
  transform: translateX(-100%);
  animation: move-right 0.6s ease-in-out forwards;
  animation-delay: 1.9s;
}
.slide_container .slideshow .overlay h1 {
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: white;
  text-shadow: 0 3px 3px black;
  opacity: 0;
  animation: fade-in 1.3s forwards;
  animation-delay: 2.6s;
}

@keyframes slide-right {
  to {
    width: 100%;
  }
}
@keyframes move-right {
  to {
    transform: translateX(0);
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* 서비스로 가기 버튼 */
.button {
  display: inline-block;
  margin: 0 10px 20px;
  background-color: #ff9f40;
  color: #fff;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 40px;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
}
.button span {
  position: relative;
  z-index: 1;
}

.btn2 {
  transition: all 0.4s;
}
.btn2:before {
  top: 50%;
  left: 50%;
  width: 200%;
  height: 0;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transition: all 0.45s;
}
.btn2:hover {
  color: #ff7f00;
}
.btn2:hover:before {
  height: 400%;
}
