.slide_container {
  /* --bg: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
  --bg: linear-gradient(to bottom right, #4776e6, pink);
  position: relative;
  height: 100vh;
  background-image: var(--bg);
}
.slide_container .slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide_container .slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  animation: slide-right 0.6s ease-in-out forwards;
}
.slide_container .slideshow .slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.slide_container .slideshow .slide:nth-child(1) {
  animation-delay: 0.15s;
}
.slide_container .slideshow .slide:nth-child(1)::after {
  background: url("https://mcdn.wallpapersafari.com/medium/96/81/ojV1dH.jpg")
    center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(2) {
  animation-delay: 0.3s;
}
.slide_container .slideshow .slide:nth-child(2)::after {
  background: url("https://mcdn.wallpapersafari.com/medium/4/60/0nmBja.jpg")
    center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(3) {
  animation-delay: 0.45s;
}
.slide_container .slideshow .slide:nth-child(3)::after {
  background: url("https://mcdn.wallpapersafari.com/medium/62/14/0QzPuX.jpg")
    center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(4) {
  animation-delay: 0.6s;
}
.slide_container .slideshow .slide:nth-child(4)::after {
  background: url("https://mcdn.wallpapersafari.com/medium/60/49/c3VfPG.jpg")
    center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(5) {
  animation-delay: 0.75s;
}
.slide_container .slideshow .slide:nth-child(5)::after {
  background: url("https://mcdn.wallpapersafari.com/medium/41/29/FfKq8D.jpg")
    center/cover no-repeat;
}
.slide_container .slideshow .slide:nth-child(6) {
  animation-delay: 0.9s;
}
.slide_container .slideshow .slide:nth-child(6)::after {
  background: url("https://mcdn.wallpapersafari.com/medium/92/44/3UD6zu.jpg")
    center/cover no-repeat;
}
.slide_container .slideshow .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg);
  transform: translateX(-100%);
  animation: move-right 0.6s ease-in-out forwards;
  animation-delay: 1.9s;
}
.slide_container .slideshow .overlay h1 {
  font-size: 350%;
  letter-spacing: 0.15em;
  color: white;
  text-shadow: 0 4px 4px black;
  opacity: 0;
  animation: fade-in 1.3s forwards;
  animation-delay: 2.6s;
}

@keyframes slide-right {
  to {
    width: 100%;
  }
}
@keyframes move-right {
  to {
    transform: translateX(0);
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
