body {
  background: linear-gradient(to right, #F2994A, #F2C94C);
}

.contact_list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.member {
  margin: 2rem 2rem;
  display: inline-block;
  padding-bottom:2rem;
}

.member img {
  width: 10rem;
  height: 10rem;
  border: 0.4rem outset rgba(241, 143, 16, 0.87);
  border-radius: 2rem;
  margin-bottom : 2rem;
}
