body {
  /*overflow: hidden;*/
  font-family: "Roboto Slab", serif;
}

/*h3 {*/
/*  font-family: "Pretendard-Thin";*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  font-style: italic;*/
/*  font-weight: lighter;*/
/*  margin-top: 50px;*/
/*  font-size: 20px;*/
/*}*/




/* 상단바 */

.menu * {
  display: inline;
}

.menu li {
  margin: 35px;
}

.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu ul {
  padding-left: 0px;
}

.menu {
  opacity:0.5;
  background-color:#000000;
  font-size: 1.5rem;
  font-style: italic;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.8rem;
}
@media screen and (max-width: 719px) {
  .menu {
    height: 5rem;
  }
}
@media screen and (max-width: 419px) {
  .menu {
    height: 7rem;
  }
}
@media screen and (max-width: 289px) {
  .menu {
    height: 9rem;
  }
}
@media screen and (max-width: 269px) {
  .menu {
    height: 11rem;
  }
}

/* page 1 */
.one {
  background-size: cover;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;

}

.profile {
  width : 40rem;
  border-radius: 30%;
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 1px solid gray;
  background-color: rgba(255, 211, 16, 0.89);
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.profile img {
  width:38rem;
  border-radius: 30%;
}

/* page 2 */
.two {
  background-size: cover;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.slide {
  margin:0 auto; 
  padding-bottom:3rem;
  width:38rem;
}
.intext {
  padding-top: 5rem;
} 

/* page 3 */
.three {
  background-size: cover;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

/* page 4 */

.four {
  text-align: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.contact_img {
  margin: auto;
  width: 70rem;
  padding-bottom: 1rem;
}

.ct {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-style: italic;
  margin:4rem;
}


/* page 5 */

.five {
  text-align: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.lists {
  display: block;
  font-weight: 400;
  font-family: "Pretendard-Thin";
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
}

.list_img {
  width: 300px;
  height: 300px;
  margin: 5vh 2vh;
}

/* page 6 */

.six {
  text-align: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
