/* Scroll down */

#container {
  width: 100%;
  height: 100%;
}

.list {
  background: linear-gradient(to right, #f2994a, #f2c94c);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* 배너 */
.list:nth-child(1) {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* 슬라이드쇼 + 어바웃 */
.list:nth-child(2) {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* 서비스 예시 */
.list:nth-child(3) {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* 굿즈 */
.list:nth-child(4) {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* 연락처 */
.list:nth-child(5) {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* 하단바 */
.list:nth-child(6) {
  background: #212121;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}
