/* Scroll down */

#container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.list {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: center; */
  /* 자동으로 넘어가는거 해제 */
}

.list:nth-child(1) {
  background-color: #ff6b6b;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.list:nth-child(2) {
  background-color: #ffd93d;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height:110vh;
  /* overflow:hidden; */
}

.list:nth-child(3) {
  background-color: #6bcb77;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.list:nth-child(4) {
  background-color: #b39db3;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
@media screen and (max-width: 669px) {
  .list:nth-child(4) {
    height:110vh;
  }
}

.list:nth-child(5) {
  background-color: #4d96ff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height:70vh;
}

@media screen and (max-width: 1376px) {
  .list:nth-child(5) {
    height:120vh;
  }
}
@media screen and (max-width: 694px) {
  .list:nth-child(5) {
    height:210vh;
  }
}

.list:nth-child(6) {
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height:30vh;
}