* {
  margin: 0;
  padding: 0;
}

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 150%;
  height: 220px;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(60deg) translateZ(400px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(120deg) translateZ(400px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(180deg) translateZ(400px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(240deg) translateZ(400px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(300deg) translateZ(400px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(360deg) translateZ(400px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
